
#breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumb-title {
    font-family: 'Avenir Light', Arial, sans-serif;
}

.detail-container {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.detail-cover {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.detail-summary {
    flex: 1;
}

.detail-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    align-items: flex-end;
}

.detail-buttons button {
    background-color: #6d5ab0;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 48px;
}

.detail-buttons button:hover {
    background-color: #574796;
}

#detail-container {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
